.dataTable {
  tbody {
    td {
      padding: 5px;
    }
  }
}

.dataTables_filter {
  label {
    width: auto;
  }
}

.dataTables_paginate {
  a.paginate_button {
    position: relative;
    display: inline-block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #225fb5;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }

  a.paginate_button.current {
    z-index: 1;
    color: #fff;
    background-color: #225fb5;
    border-color: #225fb5;
  }

  a.paginate_button:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

table.dataTable thead > tr > th {
  padding-left: 20px !important;
  padding-right: initial !important;
}

table.dataTable thead > tr > th.nosort {
  padding-left: 0 !important;
}

table.dataTable.ajax-datatable thead > tr > th.nosort {
  padding-left: 5px !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  left: 8px !important;
  right: auto !important;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before {
  left: 2px !important;
  right: auto !important;
}

//table.dataTable thead .sorting::after,
//table.dataTable thead .sorting_asc::after {
//  content: "\e252";
//}
//
//table.dataTable thead .sorting_desc::after {
//  content: "\e253";
//}