#forms {
  .card-header {
    background-color: white;
  }

  .table-responsive {
    overflow-y: inherit;
  }
  .card-body {
    background-color: #E5F6DF;
    font-size: 12px;
    .row {
      div{
        padding-right: 0;
      }
    }
    .form-group {
      margin-bottom: 5px;
      label {
        font-weight: bold;
      }
    }
    .form-actions {
      margin-left: 34%;
    }
    .submit-button {
      margin-left: 41%;
    }
    .btn {
      margin-top: 15px;
    }
  }
}