input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.modal {
  .modal-header {
    position: sticky !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    //background: white;
  }
}

input[type=number] {
  -moz-appearance:textfield;
}

.btn-primary {
  color: #fff;
  background-color: #3276bf;
  border-color: #3276bf;
}

table {
  tbody {
    tr {
      .actions {
        //display: flex;
        justify-content: center;
      }
    }
  }
}

.card {
  label {
    font-size: 11px;
    width: 85%;
    text-align: right;
  }
}

.form-control-sm {
  border: 1px #2865b87a solid;
}

@media screen and (max-width: 1244px) {
  .card {
    label {
      font-size: 10px;
    }
  }
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.color-white {
  color: white;
}

.border-radius-5 {
  border-radius: 5px;
}

.font-15 {
  font-size: 15px;
}

@media screen and (max-width: 1366px) {

}
@media screen and (max-width: 1199px) {
  body {
    font-size: 70%;
    .header-text {
      font-size: 100%;
    }
    .sidebar-text {
      font-size: inherit;
    }
    .form-control-sm {
      font-size: inherit;
    }
    .fstdiv {
      font-size: inherit;
    }
    .card {
      label {
        font-size: 10px;
        width: 75%;
      }
      #dataTable_no_ajax_filter {
        label {
          width: 40%;
        }
      }
    }
  }
}

@media (min-width: 992px){
  .dropdown-menu .dropdown-toggle:after{
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
  }
  .dropdown-menu {
    box-shadow: 5px 5px 15px #888888;
    top: 80%;
    .dropdown-menu {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #20a8d8;
  }
  .dropdown-menu li{
    position: relative;
  }
  .nav-item .submenu{
    display: none;
    position: absolute;
    left:100%; top: 2px;
  }
  .nav-item .submenu-left{
    right:100%; left:auto;
  }
  .dropdown-menu > li:hover{ background-color: #f1f1f1 }
  .dropdown-menu > li:hover > .submenu{
    display: block;
  }
}

@media screen and (max-width: 991px) {
  body {
    //font-size: 60%;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 60%;
    .sidebar-text {
      font-size: inherit;
    }
  }
}

@media screen and (max-width: 537px) {
  body {
    //font-size: 50%;
  }
}
@media screen and (max-width: 494px) {

}
@media screen and (max-width: 465px) {

}
@media screen and (max-width: 374px) {
  body {

  }
}
@media screen and (max-width: 320px){

}

