.card#forms
  = simple_form_for @<%= model_resource_name %>, html: { class: 'form' } do |f|
    .card-header
      h5.header-text = 'Add <%= plural_table_name.titleize %>'
      = render partial: 'form', locals: { f: f }