<div class="col-md-6 mx-auto">
  <%flash.each do |type, message| %>
    <%tp = 'success' if type == 'notice' %>
    <%tp = 'warning' if type == 'alert' %>
    <%tp = 'error' if type == 'error' %>
    <script>toastr.<%=tp%>('<%=message %>')</script>
  <% end %>
</div>